body{
    background-image: url("assests/img/azamat-zhanisov-1287684-unsplash.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}