body{
    background-image: url("assests/img/aidan-feddersen-1287897-unsplash.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}