body{
    background-image: url("assests/img/alexandra-marcu-1273564-unsplash.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-container{
    margin: 0px auto; 
    width: 400px;
    background-color: rgba(0, 0, 0, 0)
}

.form-container:hover{
    background-color: rgba(53, 51, 51, .6);
}